In [1]:
import pandas as pd
import numpy as np

## Series
### From ndarray

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.207824
b    1.425579
c   -1.134720
d    0.695539
e    1.358866
dtype: float64

In [3]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype=object)

In [4]:
s[1:] + s[:-1]

a         NaN
b    2.851159
c   -2.269440
d    1.391079
e         NaN
dtype: float64

### From dict

In [5]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0
b    1
c    2
dtype: float64

### From scalr value

In [6]:
pd.Series(5., index=["a","b","c"])

a    5
b    5
c    5
dtype: float64

### Name attribute

In [7]:
s = pd.Series(np.random.randn(5), name='something')
s

0   -1.519288
1    2.087293
2   -0.405528
3   -1.634038
4    2.488783
Name: something, dtype: float64

In [8]:
s.name

'something'

## DataFrame

Assigning new columns in method chains

In [9]:
df = pd.DataFrame({'a' : np.random.randn(10), 
                   'b' : np.random.randn(10), 
                   'c' : np.random.randn(10)})
df

          a         b         c
0  0.267184 -0.577129 -0.058612
1 -0.562995 -0.849791 -0.947990
2  0.749678 -0.094326  0.315184
3 -0.215302  0.038022 -1.803226
4 -0.630276 -0.235689  0.425002
5  0.573184  2.387621 -1.127729
6 -0.073866  1.444446  0.312469
7 -0.521439  0.730536 -0.017813
8 -0.495861  0.779945 -0.423581
9 -0.818306 -0.824906  1.939964

In [10]:
log_sum = np.log(np.abs(df["a"] + df['b'] + df['c']))
print log_sum
df.assign(log_sum=log_sum)
df.head()

0   -0.998157
1    0.858991
2   -0.029907
3    0.683352
4   -0.818794
5    0.605995
6    0.520607
7   -1.653990
8   -1.969709
9   -1.214860
dtype: float64

AttributeError: 'DataFrame' object has no attribute 'assign'